.menu-burger {
    display: none;
}



@media screen and (max-width:768px) {

    .menu-burger-item {
        display: none;
    }

    .menu-burger{
        display: block;
    }

    .menu-burger .menu-burger-item  {
        display: block;
    }

    .menu-burger  {
        position: fixed;
        top: 0px;
        width: 30vw;
        height: 100vh;
        background-color: rgb(55, 58, 71);
        padding: 2vh;
        z-index: 10;
        transition: transform 0.4s, z-index 0.4s;
        z-index: 10;
    }

    .menu-burger.open {
        z-index: 100; /* ou une valeur plus élevée que la z-index actuelle du reste du contenu */
    }

    .menu-burger.left {
        transform: translateX(-35vw);
    }

    .menu-burger.open.left {
        transform: translateX(0vw);
    }

    .menu-burger.right {
        transform: translateX(35vw);
    }

    .menu-burger.open.right {
        transform: translateX(0vw);
    }

    .trigger {
        width: fit-content;
        gap: 2px;
        display: flex;
        flex-direction: column;
    }

    .trigger span{
        height: 2px;
        width: 15px;
        color: hsl(240, 50%, 80%);
        background-color: black;
        display: block;
    }
}