* {
    position: relative;
    margin: 0;
    padding: 0;
}

menu-burger{
    margin: 10px;
}

.menu-burger {
    display: none;
}
.menu-burger a{
    text-decoration: none;
}

.trigger {
    display: none;
    margin-right: 15px;
}

.trigger.closeBurger {
    margin-top: 15px;
    margin-right: 10px;
}

/* cas left*/
.menu-burger.left {
    transform: translateX(-35vw);
}

.menu-burger.open.left {
    transform: translateX(0vw);
}

/* cas right*/
.menu-burger.right {
    transform: translateX(35vw);
}

.menu-burger.open.right {
    transform: translateX(0vw);
}

.menu-burger.open.right ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* cas top*/
.menu-burger.top {
    transform: translateY(-35vw);
    width: 100vw;
    height: 20vh;
}

.menu-burger.open.top {
    transform: translateX(0vw);
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

/* cas bottom*/
.menu-burger.bottom {
    transform: translateY(35vw);
    width: 100vw;
    height: 20vh;
}

.menu-burger.open.bottom {
    transform: translateX(0vw);
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

/* Cas full */
.menu-burger.full {
    transform: scale(0);
    transform-origin: center;
    width: 100vw;
}

.menu-burger.open.full {
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}

.menu-burger.open .closeBurger span:nth-child(1) {
    transform: translateY(0px) rotate(45deg);
}

.menu-burger.open .closeBurger span:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
}

.menu-burger.open .closeBurger span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.menu-burger.open .closeBurger span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}